## Examples

For the examples we'll be querying a collection containing data on restaurants in New York City. Here is a sample document from the `restaurants` collection:

```
{
	"_id" : ObjectId("59d3ec32063931074ab449e7"),
	"address" : {
		"building" : "1",
		"coord" : [
			-73.96926909999999,
			40.7685235
		],
		"street" : "East   66 Street",
		"zipcode" : "10065"
	},
	"borough" : "Manhattan",
	"cuisine" : "American",
	"grades" : [
		{
			"date" : ISODate("2014-05-07T00:00:00Z"),
			"grade" : "A",
			"score" : 3
		}
	],
	"name" : "1 East 66Th Street Kitchen",
	"restaurant_id" : "40359480"
}
```

In [2]:
from pymongo import MongoClient
from utils import fetchall, host, pprint

client = MongoClient(host())
db = client.comp521

### Ex 1:  Find all the French restaurants.

In [3]:
# fetchall will convert the results of a query into a list of objects
ex1 = fetchall(db.restaurants.find({ "cuisine": "French" }))

# This function will show you formatted results from the query.
# By default it shows the first five results.
pprint(ex1)

[ { '_id': ObjectId('59d3ec32063931074ab44a26'),
    'address': { 'building': '311',
                 'coord': [-73.98621899999999, 40.763406],
                 'street': 'West   51 Street',
                 'zipcode': '10019'},
    'borough': 'Manhattan',
    'cuisine': 'French',
    'grades': [ { 'date': datetime.datetime(2014, 11, 10, 0, 0),
                  'grade': 'B',
                  'score': 15},
                { 'date': datetime.datetime(2014, 4, 3, 0, 0),
                  'grade': 'A',
                  'score': 13},
                { 'date': datetime.datetime(2013, 7, 17, 0, 0),
                  'grade': 'C',
                  'score': 36},
                { 'date': datetime.datetime(2013, 2, 6, 0, 0),
                  'grade': 'B',
                  'score': 22},
                { 'date': datetime.datetime(2012, 7, 16, 0, 0),
                  'grade': 'C',
                  'score': 36},
                { 'date': datetime.datetime(2012, 3, 8, 0, 0),
                  'grade': 'C',
                  'score': 7}],
    'name': 'Tout Va Bien',
    'restaurant_id': '40364576'},
  { '_id': ObjectId('59d3ec32063931074ab44a3b'),
    'address': { 'building': '3',
                 'coord': [-73.97557069999999, 40.7596796],
                 'street': 'East   52 Street',
                 'zipcode': '10022'},
    'borough': 'Manhattan',
    'cuisine': 'French',
    'grades': [ { 'date': datetime.datetime(2014, 4, 9, 0, 0),
                  'grade': 'A',
                  'score': 10},
                { 'date': datetime.datetime(2013, 3, 5, 0, 0),
                  'grade': 'A',
                  'score': 9},
                { 'date': datetime.datetime(2012, 2, 2, 0, 0),
                  'grade': 'A',
                  'score': 13}],
    'name': 'La Grenouille',
    'restaurant_id': '40365264'},
  { '_id': ObjectId('59d3ec32063931074ab44a40'),
    'address': { 'building': '405',
                 'coord': [-73.9646207, 40.7550069],
                 'street': 'East   52 Street',
                 'zipcode': '10022'},
    'borough': 'Manhattan',
    'cuisine': 'French',
    'grades': [ { 'date': datetime.datetime(2014, 7, 14, 0, 0),
                  'grade': 'B',
                  'score': 14},
                { 'date': datetime.datetime(2013, 12, 2, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2013, 4, 8, 0, 0),
                  'grade': 'B',
                  'score': 22},
                { 'date': datetime.datetime(2012, 9, 17, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2012, 4, 3, 0, 0),
                  'grade': 'A',
                  'score': 12}],
    'name': 'Le Perigord',
    'restaurant_id': '40365414'},
  { '_id': ObjectId('59d3ec32063931074ab44aa5'),
    'address': { 'building': '48',
                 'coord': [-73.977035, 40.762307],
                 'street': 'West   55 Street',
                 'zipcode': '10019'},
    'borough': 'Manhattan',
    'cuisine': 'French',
    'grades': [ { 'date': datetime.datetime(2014, 5, 15, 0, 0),
                  'grade': 'A',
                  'score': 9},
                { 'date': datetime.datetime(2013, 12, 16, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2013, 5, 21, 0, 0),
                  'grade': 'A',
                  'score': 9},
                { 'date': datetime.datetime(2012, 5, 7, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2011, 12, 12, 0, 0),
                  'grade': 'A',
                  'score': 11},
                { 'date': datetime.datetime(2011, 7, 25, 0, 0),
                  'grade': 'A',
                  'score': 5}],
    'name': 'La Bonne Soupe Bistro',
    'restaurant_id': '40367715'},
  { '_id': ObjectId('59d3ec32063931074ab44acb'),
    'address': { 'building': '180',
                 'coord': [-74.002139, 40.7261357],
                 'street': 'Prince Street',
                 'zipcode': '10012'},
    'borough': 'Manhattan',
    'cuisine': 'French',
    'grades': [ { 'date': datetime.datetime(2014, 2, 25, 0, 0),
                  'grade': 'A',
                  'score': 6},
                { 'date': datetime.datetime(2013, 8, 13, 0, 0),
                  'grade': 'A',
                  'score': 3},
                { 'date': datetime.datetime(2013, 2, 19, 0, 0),
                  'grade': 'B',
                  'score': 18},
                { 'date': datetime.datetime(2012, 4, 5, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2011, 9, 28, 0, 0),
                  'grade': 'A',
                  'score': 9}],
    'name': 'Raouls',
    'restaurant_id': '40368752'}]

In [ ]:
# show the first 50 results
pprint(ex1, 50)

### Ex 2: Find all the restaurants in Staten Island.

We can do this by using a *$match* operator.

In [4]:
ex2 = fetchall(db.restaurants.aggregate([
    { "$match": { "borough": "Staten Island" } }
]))

pprint(ex2)

[ { '_id': ObjectId('59d3ec32063931074ab449e0'),
    'address': { 'building': '2206',
                 'coord': [-74.1377286, 40.6119572],
                 'street': 'Victory Boulevard',
                 'zipcode': '10314'},
    'borough': 'Staten Island',
    'cuisine': 'Jewish/Kosher',
    'grades': [ { 'date': datetime.datetime(2014, 10, 6, 0, 0),
                  'grade': 'A',
                  'score': 9},
                { 'date': datetime.datetime(2014, 5, 20, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2013, 4, 4, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2012, 1, 24, 0, 0),
                  'grade': 'A',
                  'score': 9}],
    'name': 'Kosher Island',
    'restaurant_id': '40356442'},
  { '_id': ObjectId('59d3ec32063931074ab44a00'),
    'address': { 'building': '2491',
                 'coord': [-74.1459332, 40.6103714],
                 'street': 'Victory Boulevard',
                 'zipcode': '10314'},
    'borough': 'Staten Island',
    'cuisine': 'Delicatessen',
    'grades': [ { 'date': datetime.datetime(2015, 1, 9, 0, 0),
                  'grade': 'A',
                  'score': 3},
                { 'date': datetime.datetime(2013, 12, 5, 0, 0),
                  'grade': 'A',
                  'score': 10},
                { 'date': datetime.datetime(2013, 6, 19, 0, 0),
                  'grade': 'A',
                  'score': 10},
                { 'date': datetime.datetime(2013, 1, 8, 0, 0),
                  'grade': 'A',
                  'score': 11}],
    'name': 'Bagels N Buns',
    'restaurant_id': '40363427'},
  { '_id': ObjectId('59d3ec32063931074ab44a09'),
    'address': { 'building': '1111',
                 'coord': [-74.0796436, 40.59878339999999],
                 'street': 'Hylan Boulevard',
                 'zipcode': '10305'},
    'borough': 'Staten Island',
    'cuisine': 'Ice Cream, Gelato, Yogurt, Ices',
    'grades': [ { 'date': datetime.datetime(2014, 4, 24, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2013, 2, 26, 0, 0),
                  'grade': 'A',
                  'score': 5},
                { 'date': datetime.datetime(2012, 2, 2, 0, 0),
                  'grade': 'A',
                  'score': 2}],
    'name': 'Carvel Ice Cream',
    'restaurant_id': '40363834'},
  { '_id': ObjectId('59d3ec32063931074ab44a0e'),
    'address': { 'building': '73',
                 'coord': [-74.1178949, 40.5734906],
                 'street': 'New Dorp Plaza',
                 'zipcode': '10306'},
    'borough': 'Staten Island',
    'cuisine': 'Delicatessen',
    'grades': [ { 'date': datetime.datetime(2014, 11, 18, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2013, 11, 7, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2013, 4, 24, 0, 0),
                  'grade': 'A',
                  'score': 7},
                { 'date': datetime.datetime(2012, 3, 20, 0, 0),
                  'grade': 'A',
                  'score': 5}],
    'name': 'Plaza Bagels & Deli',
    'restaurant_id': '40364286'},
  { '_id': ObjectId('59d3ec32063931074ab44a13'),
    'address': { 'building': '203',
                 'coord': [-74.15235919999999, 40.5563756],
                 'street': 'Giffords Lane',
                 'zipcode': '10308'},
    'borough': 'Staten Island',
    'cuisine': 'Delicatessen',
    'grades': [ { 'date': datetime.datetime(2015, 1, 5, 0, 0),
                  'grade': 'A',
                  'score': 4},
                { 'date': datetime.datetime(2014, 9, 11, 0, 0),
                  'grade': 'C',
                  'score': 39},
                { 'date': datetime.datetime(2014, 3, 20, 0, 0),
                  'grade': 'A',
                  'score': 12},
                { 'date': datetime.datetime(2013, 1, 24, 0, 0),
                  'grade': 'A',
                  'score': 13},
                { 'date': datetime.datetime(2012, 5, 23, 0, 0),
                  'grade': 'A',
                  'score': 10}],
    'name': 'B & M Hot Bagel & Grocery',
    'restaurant_id': '40364299'}]

### Ex 3: Find the names of all of the restaurants in Staten Island

We can do this by adding a **$project** stage to the aggreation in example 2.

In [5]:
ex2 = fetchall(db.restaurants.aggregate([
    { "$match": { "borough": "Staten Island" } },
    { "$project": { "name": 1 } }
]))

pprint(ex2)

[ {'_id': ObjectId('59d3ec32063931074ab449e0'), 'name': 'Kosher Island'},
  {'_id': ObjectId('59d3ec32063931074ab44a00'), 'name': 'Bagels N Buns'},
  {'_id': ObjectId('59d3ec32063931074ab44a09'), 'name': 'Carvel Ice Cream'},
  {'_id': ObjectId('59d3ec32063931074ab44a0e'), 'name': 'Plaza Bagels & Deli'},
  { '_id': ObjectId('59d3ec32063931074ab44a13'),
    'name': 'B & M Hot Bagel & Grocery'}]

### Ex 4: Find the number of restaurants in each borough.

We can use a `$group` stage with a `$sum` operator to do this.

In [6]:
ex4 = fetchall(db.restaurants.aggregate([
    { 
        "$group": { 
            "_id": "$borough",
            "count": { "$sum": 1 } 
        } 
    }
]))

pprint(ex4)

[ {'_id': 'Missing', 'count': 51},
  {'_id': 'Brooklyn', 'count': 6086},
  {'_id': 'Bronx', 'count': 2338},
  {'_id': 'Queens', 'count': 5656},
  {'_id': 'Manhattan', 'count': 10259}]